/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    margin: 0;
}

:root {
    --main-color: #ff9800;
}

a {
    text-decoration: none;
    color: #575757;
}

a:hover {
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--main-color);
    color: white;
}

.center-text { /* Will be used by JQuery if a container is empty */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 700px;
    margin: 0 auto;
    padding: 100px 15px 15px 15px;
    position: relative;
}

@media (max-width: 767px) {
    .container {
        padding-top: 10px;
        width: 400px;
        margin: 0 auto;
    }

}

@media (min-width: 991px) {
    .container {
        width: 700px;
        margin: 0 auto;
    }
}

@media (min-width: 1199px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }
}
/* End Global Rules */