<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer</title>
    <!-- Style sheets -->
    <link rel="stylesheet" href="../../static/sytle/global.css?{{cache_id}}">
    <link rel="stylesheet" href="../../static/style/ask.css?{{cache_id}}">
</head>
<body>
            <form action="http://web-01.ahmad-basheer.tech:5000/medflow/answer_question/{{q_id}}" method="post">
                <label for="body">Content</label>
                <textarea id="body" name="body" required></textarea>
                <input type="submit" value="Answer">
            </form>
</body>
</html>
