<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/style/login.css">
</head>
<body>
    <form action="http://web-01.ahmad-basheer.tech/medflow/login" method="post">
        <div class="logo">
            MedFlow
        </div>
        <div class="info">
            <label for="mail">
                Email
                <input id="mail" type="email" maxlength="50" required name="email">
            </label>
            <label for="pawd">
                Password
                <input id="pawd" type="password" maxlength="8" required name="password">
            </label>
            <input type="submit" value="Log In" id="log">
            <a href="http://web-01.ahmad-basheer.tech/medflow/register">No account ? <span>Register now</span></a>
        </div>
    </form>
</body>
</html>
