<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Question</title>
    <!-- Style sheets -->
    <link rel="stylesheet" href="../../static/style/global.css?{{cache_id}}">
    <link rel="stylesheet" href="../../static/style/ask.css?{{cache_id}}">
</head>
<body>
            <form action="http://web-01.ahmad-basheer.tech:5000/medflow/update_question_handler/{{question.id}}" method="post">
                <label for="title">Title <span>100 characters maximum</span></label>
                <input type="text" id="title" name="title" maxlength="100" value="{{question.title}}">
                <label for="body">Content</label>
                <textarea id="body" name="body" required>{{question.body}}</textarea>
                <input type="submit" value="Update">
            </form>
</body>
</html